/* Hero Section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3)), 
                    url("../../images/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 50px;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-top: 75px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    color: #f0f0f0;
    margin: 0 auto 175px;
    max-width: 800px;
    text-align: center;
}